/*color codes*/
/*yellow	#F9EF37
dark blue 	#0988C5
light blue 	#12AF92
background #f2f2f2*/
/*Base Styles*/
body{
	padding-top: 54px;
	font-size: 16px;
	color: #222;
	font-family: 'Lora', serif;
}
hr{
    background:var(--light-blue);
}
/*GRID code*/
.card-body{
    padding:0;
}

/*/GRID code end*/
#continuous-slider {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

}
#continuous-slider .continuous-slider--wrap {
  display: block;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}
#continuous-slider .continuous-slider--wrap ul {
  display: block;
  list-style: none;
  position: relative;
  box-sizing:content-box;
}
#continuous-slider .continuous-slider--wrap ul li {
  display: block;
  float: left;
  position: relative;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
}
#continuous-slider .continuous-slider--wrap ul li img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: 0 linear left;
  -moz-transition: 0 linear left;
  transition: 0 linear left;
  opacity: 0.65;
}
#continuous-slider .continuous-slider--wrap ul li img:hover {
  opacity: 1;
}

/*Icons Start*/
 .fa-envelope,.fa-map-marker{
     font-size:20px;
     color:var(--light-blue);
 }
/*Icons End*/

/*Fonts Start*/
.fz-18{
    font-size:18px;
}
.h1up{
    font-size:2.2rem;
}
/*Fonts End*/
:root{
	--yellow:#F9EF37;
	--light-blue:#12AF92;
	--dark-blue:#0988C5;
}
.pull-right{
    float:right;
}
.light-blue{
	background-color: var(--light-blue);
}
.dark-blue{
	background-color:var(--dark-blue);
}
.yellow{
	background-color: var(--yellow);
}
.font-grey{
	color: #333;
}
.font-light-blue{
    color: var(--light-blue);
}
.font-dark-blue{
    color: var(--dark-blue);
}
.border-light-blue{
	border:2px solid var(--light-blue);
}
.border-dark-blue{
	border:2px solid var(--dark-blue);
}
.breadcrumb{
	box-shadow: 2px 4px 1px 2px #eee;
	background: var(--yellow);
}
.breadcrumb .breadcrumb-item a{
	color: var(--dark-blue);
	font-weight: bold;
	text-decoration: none;
	transition: 0.8s;
}
.breadcrumb .breadcrumb-item a:hover{
	color: var(--light-blue);
}
.breadcrumb .active{
	color: var(--light-blue);
	font-weight: normal;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}
.title-hr{
	background: var(--dark-blue);
	width: 200px;
	float: left;
	margin:0;
	padding: 0;
	height: 2px;
}
.sub-title-hr{
	background: var(--light-blue);
	width: 200px;
	float: left;
	margin:0;
	padding: 0;
	height: 2px;
}
#main-title-hr{
	background: var(--dark-blue);
	width: 250px;
	margin: 0;
	float: left;
	height: 2px;
}
#footer-hr{
	background: var(--light-blue);
}
.view img{
	overflow: hidden;
}
/*Navbar Start*/
.navbar{
	/*-webkit-box-shadow: -1px 2px 5px 0px rgba(209,205,209,1);*/
 /*   -moz-box-shadow: -1px 2px 5px 0px rgba(209,205,209,1);*/
 /*   box-shadow: -1px 2px 5px 0px rgba(209,205,209,1);*/
    color: var(--dark-blue);
    border-bottom:none;
}
#img-logo{
    width:120px;
}
.navbar.black {
  background: rgba(220, 220, 255, 0.6);
}
#navbarResponsive ul li{
	font-size: 1.1em;
	font-weight: bold;
	padding: 5px;
}
#navbarResponsive ul li.active a{
  background: var(--dark-blue);
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}
#navbarResponsive ul li.active a:hover{
	background: var(--light-blue);
}
#navbarResponsive a{
 color:#222;
 transition: .8s;
}
#navbarResponsive a:hover{
 color:var(--light-blue);
 transition: .8s;
}
/*Navbar End*/


/*HOME PAGE START*/
#main-title{
	text-shadow: 1px 2px #eee;
}
/*CAROUSEL START*/
#cta-section .carousel-item{
  height: 100vh;
  min-height: 250px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#cta-section .carousel-item .img-container{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:800px;
}
#cta-section .carousel-item:nth-child(2) .img-container{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    padding-top:100px;
    width:1000px;
}
#cta-section .carousel-item:nth-child(3) .img-container{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:800px;
}
#cta-section .img-container img{
    position: relative;
    width:100%;
}
.mwm-logo{
    position:absolute;
    bottom:180px;
    right:20px;
    width:80px;
    padding-bottom:60px;
}
#cta-section .carousel-indicators li{
	background: var(--dark-blue);
}
#cta-section .carousel-indicators li.active{
	background: var(--light-blue);
	transition:0.6s;
}
/*#cta-section .carousel-control-prev,#cta-section .carousel-control-next{*/
/*	background: var(--light-blue);*/
/*}*/
/*CAROUSEL END*/

/*CALL TO ACTION*/

#quote-btn{
	background: var(--dark-blue);
	border:1px solid var(--light-blue);
	box-shadow: 1px 5px 1px 2px #eee;
	transition:0.8s;
	width:200px;
}
#quote-btn:hover{
	background: var(--light-blue)
}
/*CALL TO ACTION END*/

.portfolio-item{
	margin-bottom: 30px;
}

/*OUR SERVICES START*/
#services-section,#our-vision{
	padding: 20px 0;
	border-top: 4px solid #eee;
	border-bottom: 4px solid #eee; 
}
#services-section .card{
	box-shadow: 2px 4px 1px 2px #eee;
	border:2px solid var(--dark-blue);
}
#services-section .card-header{
	background: var(--dark-blue);
	color: #fff;
	border:none;
}
#services-section .card-footer{
	border-top:2px solid var(--dark-blue);
}
#services-section .card-footer a{
	float: right;
	background: var(--dark-blue);
	border:1px solid var(--dark-blue);
	transition: 0.8s;
}
#services-section .card-footer a:hover{
	background: var(--yellow);
	border:1px solid var(--light-blue);

}
/*OUR SERVICES END*/
/*HOME PAGE END*/

/*SERVICES PAGE START*/
#services-page .card{
	box-shadow: 2px 4px 1px 2px #eee;
	border:2px solid var(--dark-blue);
}
#services-page .card-header{
	background: var(--dark-blue);
	color: #fff;
	border:none;
}
#services-page .card-footer{
	border-top:2px solid var(--dark-blue);
}
#services-page .card-footer a{
	float: right;
	background: var(--dark-blue);
	border:1px solid var(--dark-blue);
	transition: 0.8s;
}
#services-page .card-footer a:hover{
	background: var(--yellow);
	border:1px solid var(--light-blue);

}
/*SERVICES PAGE END*/

/*TRAINING PAGE START*/
	/*PAST WORKSHOPS START*/
		/*CAROUSEL START*/
#past-workshops #carousel-example-1z{
	padding: 4px;
	border-radius: 10px;
	box-shadow: 12px 5px 1px 2px #eee;
}
#past-workshops .carousel-indicators li{
	background: var(--dark-blue);
}
#past-workshops .carousel-indicators li.active{
	background: var(--light-blue);
}
#past-workshops .fa-angle-left,#past-workshops .fa-angle-right{
	color: var(--light-blue);
	font-size: 40px;
}
#past-workshops .card-body{
	color: #222;
}
/*CAROUSEL END*/
/*PAST WORKSHOPS END*/

/*PAST PROJECTS START*/
/*CAROUSEL START*/
#past-projects #carousel-example-2z{
	padding: 4px;
	border-radius: 10px;
	box-shadow: 12px 5px 1px 2px #eee;
}
#past-projects .carousel-indicators li{
	background: var(--light-blue);
}
#past-projects .carousel-indicators li.active{
	background: var(--dark-blue);
}
#past-projects .fa-angle-left,#past-projects .fa-angle-right{
	color: var(--dark-blue);
	font-size: 40px;
}
#past-projects .card-body{
	color: #222;
}
/*CAROUSEL END*/
/*PAST PROJECTS END*/

/*ALL WORKSHOPS START*/
#all-workshops{
	padding: 20px 0;
	border-top: 4px solid #eee;
	border-bottom: 4px solid #eee; 
}
#all-workshops .card{
	box-shadow: 2px 4px 1px 2px #eee;
	border:2px solid var(--light-blue);
}
#all-workshops .card-header{
	background: var(--light-blue);
	color: #fff;
	border:none;
}
#all-workshops .card-body{
	background: var(--yellow);
}
#all-workshops .card-footer{
	border-top:2px solid var(--light-blue);
}
#all-workshops .card-footer a{
	float: right;
	background: var(--light-blue);
	border:1px solid var(--light-blue);
	transition: 0.8s;
}
#all-workshops .card-footer a:hover{
	background: var(--yellow);
	border:1px solid var(--dark-blue);

}
/*ALL WORKSHOPS END*/
/*TRAINING PAGE END*/

/*FOOTER START*/
footer{
	bottom:0;
	width: 100%;
}
#footer-mwm,#footer-mwm:hover{
    text-decoration:none;
    color:var(--light-blue);
    vertical-align:middle;
}
#footer-section-1 h4, #footer-section-2 h4, #footer-section-3 h4{
margin: 10px;
color: var(--light-blue);
font-weight: bolder;
}
#footer-section-1, #footer-section-2, #footer-section-3{
}
#footer-section-1 li, #footer-section-2 li, #footer-section-3 li{
	list-style: none;
}
#footer-section-1 li a, #footer-section-2 li a, #footer-section-3 li a{
	text-decoration: none;
	color: #ddd;
	transition: 0.8s;
}
#footer-section-1 li a:hover, #footer-section-2 li a:hover, #footer-section-3 li a:hover{
	text-decoration: none;
	color: var(--yellow);
}
footer small{
	color: var(--yellow);
}
/*FOOTER END*/
/*ABOUT US PAGE START*/
article + a{
	color:var(--light-blue);
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
	transition: .8s;
}
article + a:hover{
	text-decoration: none;
	color: var(--dark-blue);
}
#about-us .img-container{
    text-align:center;
}
#about-us .img-container img{
    position: relative;
    width:60%;
}
#our-team .card img{
    width:100%;
}
#our-team a, #our-team a:hover{
    text-decoration:none;
    transition:0.8s;
}
#our-team a .card-footer:hover{
    color:var(--yellow);
}
/*ABOUT US PAGE END*/
/********Large Devices Only********/
@media(min-width: 1200px){
	#past-workshops .carousel-inner img{
		height: 350px;
	}
	#our-team .card img{
		height: 300px;
	}
	#img-logo{
    width:120px;
}
.hide-big{
    visibility:hidden;
    display:none;
}
}
/********Medium Devices Only********/
@media(min-width: 992px) and (max-width: 1199px){
	#past-workshops .carousel-inner img{
		height: 350px;
	}
	#our-team .card img{
		height: 300px;
	}
	#img-logo{
    width:100px;
}
.hide-big{
    visibility:hidden;
    display:none;
}
}
/********Small Devices Only********/
@media(min-width: 768px) and (max-width: 991px){
	#footer-section-1, #footer-section-2, #footer-section-3{
		text-align: center;
	}
	#past-workshops .carousel-inner img{
		height: 250px;
	}
	#our-team .card img{
		height: 250px;
	}
	#img-logo{
    width:80px;
}
.hide-big{
    visibility:hidden;
    display:none;
}
}
/********Super Special Case Devices Only (Eg: Between Small & Extra Small)********/

@media(max-width: 767px){
		.gap-image{
		display: none;
	}
	#past-workshops .carousel-inner img{
		height: 250px;
	}
	#our-team .card img{
		height: 350px;
	}
	#img-logo{
    width:80px;
}
#cta-section .carousel-item .img-container{
        width:340px;
        padding-top:70px;
}
#cta-section .carousel-item:nth-child(2) .img-container{
        width:450px;
        padding-top:70px;
}
#cta-section .carousel-item:nth-child(3) .img-container{
        width:450px;
        padding-top:70px;
}
.hide{
    visibility:hidden;
    display:none;
}
}
/********Super Extra Small Devices Only (Eg: Iphone4)********/
@media(max-width: 479px){
	h1{
		font-size: 1.5em;
	}
	h2{
		font-size: 1.4em;
	}
	h3{
		font-size: 1.3em;
	}
	h4{
		font-size: 1.2em;
	}
	.h3-responsive{
		font-size: 1.4em;
	}
	#main-title-hr{
		display: none;
	}
	h1 hr{
		padding: 0;
	}
	#footer-section-1 h4, #footer-section-2 h4, #footer-section-3 h4{
		font-size: 1.2em;
	}
	.gap-image{
		display: none;
	}
	#cta-section .carousel-caption h3{
		font-size: 1em;
	}
	#img-logo{
    width:60px;
}
#cta-section .carousel-item .img-container{
    position:relative;
    padding-top:60px;
    width:340px;
}
#cta-section .carousel-item:nth-child(2) .img-container{
        width:340px;
        padding-top:60px;
}
#cta-section .carousel-item:nth-child(3) .img-container{
        width:340px;
        padding-top:60px;
}
#about-us .img-container img{
    position: relative;
    width:90%;
}
#mwm-logo{
    padding-bottom:260px;
    bottom:100px;
}
.navbar.black {
  background: rgba(220, 220, 255, 0.9);
}
.navbar{
    background:#eee;
}

}